body {
    background-color:#111
}

.container {
    display: inline-flex;
    margin-left: 37rem;
    margin-top: 19rem;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.container:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-container 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-container {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.container:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

h1 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-style: italic;
}

h2 {
    margin: 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: 0.90rem;
}